
 p{
 	   	color:blue;
 	   	font:20px;
 }

.food  { 
     color:red;
 	 font:20px;
}

.paragraph  {
color: brown;
font-size:12;
}


#thing{
	background-color:Yellow;
	color:Grey;

	}
#Button {
width:300px;
height:150px;
color:red;
background-color:black;
border-radius:15px;
}


Header {
height:250px; 
width:50%;
border:2px solid blue; 
background-color: #00cccc; 
}




Footer{
height:100px; 
width:80%;
border:2px solid yellow; 
background-color: #666699; 

}



.wrap-trivia {
height:500px; 
width:450px;
border: #b1b1cd; 
padding-left:500px;
}

.wrap-list {
height:312px;
width:600;
border:6px dashed green;
margin-bottom:1000em;

}

.wrap-text {
color:#cc8800;
font-size:2.1em;
}


/*Positions.html CSS*/
#one {
	height: 150px;
	width: 150px;
	background-color: red;
	display:inline-block;
	position:absolute;
	z-index: 1;
}

#two {
	height:150px ; 
	width: 150px;
	background-color: #bbd432;  
	display: inline-block;
	position:absolute;
	z-index:2;
	position:relative;
	top:750px;
}
#three { 
	height:150px;
	width:150px ;
	background-color: #aedfac;
	display:inline-block;
	position: absolute;
	position: fixed;
	left: 25%;
}



#zero {
height:2048px;



}



.navitem {
list-style-type:none;
display:inline;
padding-right:1.5em;
}


#navmenu {
width:250px;
height:30px;
margin:auto;
}



a:link{
	color:red;

}

a:visited {
	color:blue;


}

a:hover{
	color:purple


}

a:active {
	color:orange;


}




#rightside{ 
float:right;
width:20%;
}


#leftside{
	width:40%;
}

.clearfloat {
clear:right;

}



#whoinventedthechocolatechipcookie {
color:green;	
}
